<h2>
</h2>

<div align="center"></div><img src="/media/decision.jpg"  width="400" style = "position:absolute; right:800px; top:050px"></div>
<div align="center"></div><img src="/media/primeradeci.jpg"  width="500" style = "position:absolute; right:800px; top:180px"></div>
<link rel= "stylesheet" type= "text/css" href= "static/styles/flechas.css">


<a href="/pruebasiete"><div class="arrow-1"  style = "position:absolute; right:550px; top:250px" ></div>
    <img src="/media/trabajas.gif"  width="250" style = "position:absolute; right:300px; top:150px">  
</a>
 
<a href="/pruebaocho"><div class="arrow-1"  style = "position:absolute; right:550px; top:600px" ></div>
    <img src="/media/emprendes.gif"  width="250" style = "position:absolute; right:300px; top:450px">  
</a>    
<tbody>
<tr>

</tr>
</tbody>
</table>
<p></p>